.hero {
    width: 100%;
    height: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 70px;
    font-weight: 800;
    color: #e5e5e5;
    margin: 0;
}

.hero-title span {
    color: #3b82f6;
}

.hero-subtitle {
    color: #cfcfcf;
    margin-top: 8px;
    font-size: 20px;
}

.hero-buttons {
    display: flex;
    gap: 12px;
}

.hero-btn {
    padding: 6px 16px;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #e5e5e5;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #3b3b3b;
}

.hero-btn:hover {
    background-color: #1f1f1f;
}
