.home {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #262626;
}

.home-banner {
    width: 100%;
    height: 40dvh;
}

.home-content {
    width: 100%;
}

.home-stack-list {
    padding-top: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 28px;
}

.home-trending {
    margin: 40px;
    color: #e5e5e5;
}

.home-trending-title {
    font-size: 24px;
    font-weight: 600;
}

.home-trending-sub {
    font-size: 14px;
    color: #cfcfcf;
}
