.home {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #262626;
}

.home-banner {
    width: 100%;
    height: 40dvh;
}

.home-content {
    width: 100%;
}

.home-stack-list {
    padding-top: 0.3125rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.75rem;
}

.home-trending {
    margin: 2.5rem;
    color: #e5e5e5;
}

.home-trending-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.home-trending-sub {
    font-size: 0.875rem;
    color: #cfcfcf;
}

@media (max-width: 48rem) {
    .home-trending {
        margin: 1.5rem;
    }

    .home-trending-title {
        font-size: 1.25rem;
    }

    .home-trending-sub {
        font-size: 0.8125rem;
    }

    .home-stack-list {
        gap: 1rem;
    }
}

@media (max-width: 30rem) {
    .home-trending {
        margin: 1rem;
    }

    .home-stack-list {
        grid-template-columns: 1fr;
    }
}
