.stacks{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #333333;
}

.my-stacks {
    padding: 40px;
    color: #e5e5e5;
}

.my-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.my-search {
    width: 300px;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #3b3b3b;
    background-color: #262626;
    color: #ffffff;
}

.my-search::placeholder {
    color: #9ca3af;
}

.my-create {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.my-create:hover {
    background-color: #1d4ed8;
}

.my-stacks-section {
    padding: 20px;
    background-color: #262626;
    border-radius: 14px;
    margin-bottom: 20px;
}

.my-section-title {
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.my-stack-list {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 25px;
}
