.stacks{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #262626;
}

.my-stacks {
    padding: 40px;
    color: #e5e5e5;
    font-family: system-ui, sans-serif;
}

.my-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.my-search {
    width: 300px;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #3b3b3b;
    background-color: #2f2f2f;
    color: #ffffff;
}

.my-search::placeholder {
    color: #9ca3af;
}

.my-search:focus {
    outline: none;
    border-color: #3b82f6;
}

.my-create {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.my-create:hover {
    background-color: #1d4ed8;
}

.my-section-title {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

.my-stack-list {
    height: 100px;
    width: 100%;
    border: 1px dashed #444;
    border-radius: 8px;
    background-color: #2f2f2f33;
}
